body{
	margin: 0px;
	border: 0px;
	overflow-x: hidden;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.form {
	color:white;
}

.context{
  margin: auto;
  width: 60%;
}

.context img{
	width: 350px;
}

.cartel {
    width: 100%;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 100px;
    text-align: center;
    background-color: #F2F2F2;
}

.cartelchild2 {
    display: inline-block;  
    margin: 2px;
    background-color: #D8D8D8;
    width: 1000px;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-bottom: 150px;
}

.container1{
	margin: auto;
	width: 50%;
	padding-top: 50px;
}

.container1 h1{
	margin-bottom: 30px;

}

.container1 .row-comprar1 ul li{
	list-style-type: none;
	text-align: left;
	padding-top: 20px;
}

.container2{
	width: 70%;
	margin: auto;
	margin-bottom: 30px;
}

.rowfolleto1 h1 {
	text-align: center;
}

.rowfolleto2 p {
	text-align: center;
}

.rowfolleto3{
	text-align: center;
}

.rowfolleto3 button{
	border: 0px solid; 
	border-radius: 4px;
	background-color: #8904B1;
	color: white;
	height: 50px;
	width: 250px;
}

/*List*/

.text-center3{
  margin: auto;
  width: 60%;
}

.menu2 ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 120px;

}

.menu2 li{
	list-style: none;
	text-decoration: none;
	text-align: left;
	padding: 10px 30px;
}

.menu2 li a{
	text-decoration: none;

}

.menu2 button{

	border: 0px solid; 
	border-radius: 4px;
	background-color: #8904B1;
	color: white;

}

/*Bottom*/

.bottom {
	text-align: center;
}

.bottom a{
	text-decoration: none;
	color: grey;
}

/*Sidenav*/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Search */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.menu .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}

/*----------------------------------Cuadro -------------------------------------------- */
.row1{
  background-color: #F2F2F2;
  padding: 50px;
}

.row1 p{
  margin: auto;
  width: 70%;
}

.row2{
  background-color: #D8D8D8;
  padding: 20px;
  width: 70%;
  margin: auto;
}

.row2 h3{
  color: white;
  text-align: center;
}

.row2 #registrate{
  color: white;
  text-align: center;
  margin: auto;
  width: 50%;
}

.row2 .col-auto{
  margin: auto;
  width: 50%;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
}


.row2 #parrafo{
  color: white;
  font-size: 10px;
  margin: auto;
  width: 50%;
}

.row3{
	margin: auto;
	width: 85%;
}

.row3 .form-inline button{
  width: 250px;
  background-color: #8904B1;
  margin-top: 20px;
}

@media (max-width: 1200px){
  
  .row1{
    width: 100%;
    background-color: #F2F2F2;
    padding-left: 10px;
    padding-right: 10px;
  }

  .row1 p{
    margin-left: 10px;
  }

  .row2{
    background-color: #D8D8D8;
    width: 100%;
    margin: auto;
  }

  .row2 #registrate {
    font-size: 12px;
    text-align: left;
    width: 100%;
  }

  .row3 .form-inline{
    width: 100%;
  }

  .row3 .form-inline input{
    width: 250px;
  }

  .row3 button{
    width: 100%;
    background-color: #8904B1;
  }

  .row4 #parrafo {
    width: 100%;
  }

  .row5{
    width: 100%; 
  }

  .row5 .col-auto{
    width: 100%;
  }

}

/*----------------------------------Lista -------------------------------------------- */

@media (max-width: 1200px){

  .menu-pequeño{
    width: 100%;
    margin: auto;
  }

  .menu-pequeño button{
    background-color: #8904B1;
    margin-top: 10px;
  }

  .menu-pequeño ul{
    margin: auto;
    width: 100%;
  }

  .text-center3 {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
  }

  .menu2 ul li {
    width: 100%;
    margin: auto;
  }

  .menu2 .col-xs-3 .button2 li{
    padding: 0px;
    margin-top: 20px;
}

/*como comprar*/
@media (max-width: 1200px){
	.container1{
		width: 100%;
		padding-bottom: 50px;
	}

	.container1 .titulo1 h1{
		text-align: center;
	}
}