@media (min-width: 576px) {

.row1{
	background-color: #F2F2F2;
	padding: 50px;
}

.row1 p{
	margin: auto;
	width: 70%;
}

.row2{
	background-color: #D8D8D8;
	padding: 20px;
	width: 70%;
	margin: auto;
}

.row2 h3{
	color: white;
	text-align: center;
}

.row2 #registrate{
	color: white;
	text-align: center;
	margin: auto;
	width: 50%;
}

.row2 .col-auto{
	margin: auto;
	width: 50%;
	font-size: 12px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.row2 .form-inline{
	margin: auto;
	width: 50%;
	padding: 10px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.row2 #parrafo{
	color: white;
	font-size: 10px;
	margin: auto;
	width: 50%;
}

}