body{
	margin: 0px;
	border: 0px;
	overflow-x: hidden;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


/*Bottom*/
.bottom {
	text-align: center;
  	background-color: #E6E6E6;
  	padding-bottom: 50px;
  	padding-top: 50px;
}

.bottom a{
	text-decoration: none;
	color: grey;
}

/*--------------------------------------------*/

.fila{
	background-color: #D0A9F5;
	padding: 100px;
}

.fila1 .row{
	margin: auto;
	margin-top: 30px;
	width: 50%;
	background-color: #E3CEF6;
	padding: 10px;
}

.fila2 .row{
	margin: auto;
	width: 50%;
	margin-bottom: 50px;
	background-color: #E3CEF6;
}

.fila2 .row .col{
	padding-bottom: 10px;
}

.fila2 .row .col .row{
	width: 100%;
}

.fila2 .row .col{
	margin-top: 10px;
	padding: 10px;
}

.fila2 .row .col button{
	background-color: purple;
	border: none;
	width: 100%;
	color: white;
	margin-top: 10px;
	padding: 5px;
	height:50px;
}

li{
	list-style: none;
}

@media (max-width: 1200px){

	.fila-xs{
		background-color: #D0A9F5;
	}
	
	.fila-xs .fila1 .row{
		width: 100%;
	}

	.fila-xs .fila2 .row{
		width: 100%;
	}
	

}