body{
	margin: 0px;
	border: 0px;
	overflow-x: hidden;
}

/*
.position-fixed{
  
}

.carrusel{
  padding-top: 200px;
}
*/

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-toggler{
  border: none;
}

.form {
	color:white;
}

.context{
  margin: auto;
  width: 60%;
}

.context img{
	width: 350px;
}

.cartel {
    width: 100%;
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 100px;
    text-align: center;
    background-color: #F2F2F2;
}

.cartelchild2 {
    display: inline-block;  
    margin: 2px;
    background-color: #D8D8D8;
    width: 1000px;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-bottom: 150px;
}

/* List */
.text-center3{
  margin: auto;
  width: 60%
}


.menu2 ul{

	list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 120px;

}

.menu2 li{
	list-style: none;
	text-decoration: none;
	text-align: left;
	padding: 10px 30px;
}

.menu2 li a{

	text-decoration: none;

}

.menu2 button{

	border: 0px solid; 
	border-radius: 4px;
	background-color: #8904B1;
	color: white;

}


/*Bottom*/
.bottom {
	text-align: center;
}

.bottom a{
	text-decoration: none;
	color: grey;
}


/*Sidenav*/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* Search */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.menu .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}

/*----------------------------------Imagenes y videos-------------------------------------------- */
@media (min-width: 1200px){
.imagenes{
  margin: auto;
  width: 100%;
}

.imagenes .row{
  margin: auto;
  width: 70%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
  font-family: arial;
  padding: 5px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #4C0B5F;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

}

/*---------------------------------Mas vendidos-------------------------------------------- */
.vendidos{
  margin: auto;
  width: 90%;
}

.vendidos .column {
  float: left;
  width: 33.33%;
  padding: 1px;
}

.vendidos .column img{
  height: 550px;
}

.vendidos .row:after {
  content: "";
  clear: both;
  display: table;
}


/*----------------------------------Lista -------------------------------------------- */

@media (max-width: 1200px){

  .menu-pequeño{
    width: 100%;
    margin: auto;
  }

  .menu-pequeño button{
    background-color: #8904B1;
    margin-top: 10px;
  }

  .menu-pequeño ul{
    margin: auto;
    width: 100%;
  }

  .text-center3 {
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
  }

  .menu2 ul li {
    width: 100%;
    margin: auto;
  }

  .menu2 .col-xs-3 .button2 li{
    padding: 0px;
    margin-top: 20px;
}


/************************************320x568****************************************************************/
/*----------------------------------Imagenes y videos-------------------------------------------- */
@media (min-width: 320px){
.imagenes{
  margin: auto;
  width: 50%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  text-align: center;
  font-family: arial;
  padding: 5px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #4C0B5F;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


/*---------------------------------------Vendidos-----------------------------------------------------------*/
.vendidos .column img{
  height: 150px;
}

/*------------------------------------------------- Ingreso ---------------------------------------------------*/
#id01 {
  width: 100%;
  height: 100%;
}

#id01 .modal-content1{
  height: 90%;
  width: 90%;
}

#id01 .modal-content1 h3{
  font-size: 15px;
  margin: auto;
  width: 50%;
}

#id01 .modal-content1 input{
  margin: auto;
  width: 90%;
  margin-top: 10px;
}

#id01 .modal-content1 button{
  margin: auto;
  width: 90%;
  margin-top: 10px;
}

#id01 .modal-content1 .container2{
  margin: auto;
  width: 50%;
}

#id01 .modal-content1 .container3{
  margin: auto;
  width: 90%;
  margin-top: 10px;
}

#id02 .modal-content2{
  height: 90%;
  width: 90%;
}

#id02 .modal-content2 input{
  margin: auto;
  width: 90%;
  margin-top: 10px;
}

#id02 .modal-content2 button{
  margin: auto;
  width: 90%;
  margin-top: 10px;
}

}

/************************************Medium table****************************************************************/
/*----------------------------------Imagenes y videos-------------------------------------------- */
@media (min-width: 992px){
.imagenes{
  margin: auto;
  width: 100%;
}

.imagenes .row .column{
  margin: auto;
  padding: 50px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  text-align: center;
  font-family: arial;
  padding: 5px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #4C0B5F;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.vendidos .row .column a img{
  height: 450px;
}

}